.breadcrumbs__list {
    font-size: 14px;
    font-family: var(--font_light);
    color: var(--white);
}

.breadcrumbs__list span a {
    color: var(--white);
    font-weight: 200;
}

.hero-single .breadcrumbs__list span a {
    color: var(--white);
}

.contacts .breadcrumbs__list, .contacts .breadcrumbs__list span a {
    color: var(--white);
}

@media (max-width:1399px) {
    .breadcrumbs__list {
        font-size: 12px;
    }
}

@media (max-width:930px) and (max-height:420px) {
    .breadcrumbs {
        display: none;
    }
}

@media (max-width:767px) {
    .breadcrumbs {
        display: none;
    }
}