/*Popups*/

.popup {
    /* display: block; */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, .6);
}

.popup__wrapper {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.popup__cont {
    width: 38%;
    height: 100%;
    margin-left: auto;
    background-color: var(--black);
    padding: 100px 66px;
    position: relative;
}

.popup__box {
    max-width: 320px;
}

.popup__cont * {
    color: var(--white);
}

button.popup__del {
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
    width: 24px;
    height: 24px;
    display: block;
    min-height: fit-content;
    position: absolute;
    left: 66px;
    top: 32px;
}

button.popup__del svg path {
    fill: var(--white);
    transition: fill .25s ease-in-out;
}

button.popup__del:hover svg path, button.popup__del:focus svg path {
    fill: var(--black);
    transition: fill .25s ease-in-out;
}

.popup__cont .social {
    margin: 0 auto;
    width: fit-content;
}

@media (min-width:1921px) {
    .popup__cont {
        width: 35vw;
        padding: 2vw;
    }

    .popup__cont.city-cont {
        max-width: 64vw;
    }

    button.popup__del {
        width: 1vw;
        height: 1vw;
        right: 1vw;
        top: 1vw;
    }

    button.popup__del>svg {
        width: 100%;
        height: 100%;
    }
}

@media (max-width:1399px) {
    .popup__cont {
        padding: 100px 44px;
    }

    button.popup__del {
        left: 44px;
    }
}

@media (max-width:1199px) {
    .popup__cont {
        padding: 60px 44px;
    }
}

@media (max-width:991px) {
    .popup__cont {
        width: 56%;
    }
}

@media (max-width:930px) and (max-height: 420px) {
    .popup__cont {
        padding: 50px 30px 20px;
    }

    button.popup__del {
        left: 30px;
        top: 15px;
    }
}

@media (max-width:767px) {
    .popup__cont {
        width: 90%;
        max-width: 440px;
        padding: 50px 20px 30px;
    }

    button.popup__del {
        left: 20px;
    }
}

@media (max-width:767px) and (max-height: 420px) {
    .popup__cont {
        max-width: 532px;
    }
}

@media (max-width:439px) {
    .popup__cont {
        padding: 50px 14px 30px;
    }
}


/*Popups end*/